<h3>{{firstName}}: {{wage}}, {{skillPoints}}</h3>

<p>First Name: {{input type="text" value=firstName}}</p>
<p>Wage: {{input type="text" value=wage}}</p>
<p>Skill Points: {{input type="text" value=skillPoints}}</p>