<div class="employee-overview sixteen columns">
  <div class="one columns"><strong><i class="fa fa-usd"></i></strong></div>
  <div class="three columns"><strong>Skill Points</strong>: {{skill-point-count totalSkillPoints}}</div>
  <div class="three columns"><strong>Wages</strong>: {{format-currency totalWages}}</div>
  <div class="three columns"><strong>Dollars Per Skill Point</strong>: {{format-currency dollarAmountPerPoint}}</div>
  <div class="three columns"><strong>Value Produced</strong>: {{format-currency valueProduced}}</div>
  <div class="three columns"><strong>Profit</strong>: {{format-currency profit}}</div>
</div>

<div class="sixteen columns">
  <table class="employees">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Wage</th>
        <th>Skill Points</th>
      </tr>
    </thead>
    <tbody>
    {{#each}}
      {{employee-chart-row firstName=firstName wage=wage skillPoints=skillPoints}}
    {{/each}}
    </tbody>
  </table>
</div>

<div class="button-bar sixteen columns">
  {{link-to 'Go Back' 'index' class='button secondary'}}
  <button {{action 'addEmployee'}} type="button" class="push-right">Add Employee</button>
</div>
