<h3>Mathematics Test</h3>

{{#unless testOver}}
<h4>Instructions</h4>

<p>Answer all questions as quickly and accurately as possible. As soon as you are done, raise your hand and say, “Done.” As soon as the first four people say, “Done,” testing will end for all test takers. Tests will be graded by the employers. You will earn one point for each correct answer.</p>

<p>No calculators allowed. Testing will be limited to four minutes.</p>

<p class="notice">Time Remaining: {{format-time secondsRemaining}}</p>
{{/unless}}

{{#if testActive}}
<div class="questions">
  {{#each}}
    {{math-question math=this}}
  {{/each}}
</div>
{{/if}}

{{#if testOver}}<p class="notice">You answered {{question-count correct}} correctly.</p>{{/if}}

<div class="button-bar sixteen columns clearfix">
  {{#unless testActive}}
    {{#link-to 'worker' class="button secondary"}}Go Back{{/link-to}}
  {{/unless}}

  {{#if testActive}}
  <button type="countdown" {{action 'completeTest'}}>Submit Test</button>
  {{/if}}

  {{#unless testStarted}}
  <button type="countdown" {{action 'activateTest'}}>Begin Test</button>
  {{/unless}}
</div>
