<div class="sixteen columns resume name">
  <h1>{{worker.name}}</h1>
</div>

<div class="eight columns resume skill">
  <h2>Hand-Eye Coordination</h2>
  <p>
  {{#if worker.handEyeTestPoints}}
    {{skill-point-count worker.handEyeTestPoints}}
  {{else}}
    {{link-to 'Take the Test to Determine Your Hand-Eye Coordination' 'hand-eye-test' class="button block secondary"}}
  {{/if}}
  </p>
</div>

<div class="eight columns resume skill">
  <h2>Mathematics Ability</h2>
  <p>
  {{#if hasTakenMathTest}}
    {{skill-point-count worker.mathTestPoints}}
  {{else}}
    {{link-to 'Take the Test to Determine Your Mathematical Ability' 'math-test' class="button block secondary"}}
  {{/if}}
  </p>
</div>

<div class="sixteen columns button-bar">
  {{#link-to 'worker' class="button"}}Go Back{{/link-to}}
</div>
